/*Seletor de link*/ a:link {
    color: green;
}
/*Seletor de link visitado*/ a:visited {
color: green;
}
/*Seletor de link quando o mouse passar por cima do link*/ a:hover {
color: blue;
}
body{
    font-size: 100%;
    }
    h1{
    text-align:center; background-color: blue; color: white;
    }
    p{
    font-size: 1.5em; color: black;
    }
    h2{
    text-align:center; background-color: cyan; color: white;
    }
    /*Seletor de link*/ a:link {
    color: green;
    }
    /*Seletor de link visitado*/ a:visited {
    color: green;
    }
    /*Seletor de link quando o mouse passar por cima do link*/ a:hover {
    color: blue;
    }
    .font {
        text-align: center;
        font-weight: bold;
        color:red;
        font-size:0.8em;
    }